<%- include("partials/header") %>
<h1>COMPOSE</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="postTitle"
      class="form-control"
      id="exampleFormControlInput1"
    />
  </div>
  <div class="form-group">
    <label for="post">Post</label>
    <textarea
      name="post"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="5"
    ></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>
<%- include("partials/footer") %>
